<div class="container mt-1">
  <div
    class="card mb-3"
    [ngClass]="{
      'border-success': i % 3 == 0,
      'border-warning': i % 3 == 1,
      'border-info': i % 3 == 2
    }"
    *ngFor="let blog of blogs; let i = index"
  >
    <div class="card-header">
      <a style="text-decoration: none;" [routerLink]="['blogDetail', i]">{{
        blog.title
      }}</a>
    </div>
    <div class="card-body">
      <p class="card-text">
        {{ blog.description }}
      </p>
    </div>
  </div>
</div>
