<div class="container mt-1">
  <div class="card text-white bg-dark mb-3" style="width: 100%;">
    <div class="card-header text-center">
      <h3>{{ blog.title }}</h3>
    </div>
    <div class="card-body">
      <!-- <h4 class="card-title">Dark card title</h4> -->
      <p class="card-text">
        Some quick example text to build on the card title and make up the bulk
        of the card's content.
      </p>

      <hr />
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias illo
        recusandae, nostrum veritatis adipisci qui ratione accusamus, enim
        aliquid ad laudantium sunt ab, ipsa reiciendis velit quaerat totam unde
        minima?
      </p>
      <small>by {{ profile.name }}</small>
    </div>
  </div>
</div>
