<div class="container">
  <form #editProfileForm="ngForm" (ngSubmit)="onSubmit(editProfileForm)">
    <div class="form-group">
      <label for="name">Name</label>
      <input
        class="form-control"
        type="text"
        name="name"
        [(ngModel)]="profile.name"
      />
    </div>
    <div class="form-group">
      <label for="name">About</label>
      <textarea
        class="form-control"
        name="about"
        [(ngModel)]="profile.about"
        id=""
        cols="30"
        rows="10"
      ></textarea>
    </div>
    <input type="submit" value="Submit" class="btn btn-block btn-success" />
  </form>
</div>
